nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li {
    display: block;
    margin-right: 0;
  }
  